:root {
    --color1: #0C0C0B;
    --color2: #7DB208;
    --color3: #272A15;
    --color4: #BCDD7A;
    --color5: #B6DAC5;
}
.bodyAmanda {
    background-color: var(--color1);
}
.borderPat {
    border-width: thick;
    border-style: solid;
    border-color: var(--color2);
    border-radius: 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px var(--color3);
}
.navPat {
    background-color: var(--color1);
    border-bottom: var(--color2);
    border-style: solid;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px var(--color3);
}
.text-center {
    margin-bottom: 5px;
    margin-top: 5px;
}
.centerPat {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.plot {
    height: auto;
}
.article {
    color: var(--color5);
}
.navbar-brand {
    color: var(--color5)!important;
}
.nav-item {
    color: var(--color5)!important;
}
.active {
    font-weight: bold;
}
img {
    position: relative;
}
